{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<style>
    .pagination {
        margin-top: 2rem;
        text-align: center;
    }

    .pagination a {
        padding: 0.5rem 1rem;
        margin: 0 5px;
        text-decoration: none;
        background: #e0e0e0;
        color: #333333;
        border-radius: 5px;
        transition: background 0.3s ease;
    }

    .pagination a:hover {
        background: #2563eb;
        color: white;
    }

    .pagination a.active {
        background: #2563eb;
        color: white;
        font-weight: bold;
    }

    .blogs_page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .blog-card {
        background-color: rgba(37, 99, 235, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1.5rem;
    }

    .blog-card img {
        width: 350px;
        border-radius: 10px;
        border: 2px solid white;
    }

    /* 📱 Адаптив под мобильные устройства */
    @media (max-width: 768px) {
        .blogs_page {
            grid-template-columns: 1fr;
            /* 1 колонка на маленьких экранах */
        }

        .blog-card {
            padding: 1rem;
        }

        .blog-card img {
            max-width: 100%;
            /* картинка тянется на всю ширину блока */
        }
    }
</style>
<h2>Добро пожаловать в блоги</h2>
<main>
    <div class="blogs_page">
        {% for b in page_obj %}
        <div class='blog-card'>
            <h2>{{ b.title }}</h2>
            <img src="{{ b.photo.url }}" alt="{{ b.title }}" class="blog_photo">
            <p class="blog_main_text">{{ b.main_text|linebreaks }}</p>
            {% if b.file %}
            <a href="{{ b.file.url }}" download>Файл для скачивания: {{ b.file.name|basename }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</main>
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">« Назад</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    <a href="?page={{ num }}" class="{% if page_obj.number == num %}active{% endif %}">{{ num }}</a>
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Вперёд »</a>
    {% endif %}
</div>

{% endblock %}ы